*, *::before, *::after {
	box-sizing: border-box;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(auto-fit, minmax(2rem, 1fr));
  padding: 1rem;
}

.result {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 16px;
  border-radius: 4px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.dataBody {
  text-align: left;
  margin-bottom: 0.1rem;
  font-size: 0.95rem;
}

.loading {
  opacity: .7;
  animation: result-loading 1s linear infinite alternate;
}

.loading-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.loading-title-text {
  width: 50%;
  height: 0.5rem;
  border-radius: 0.125rem;
  text-align: center;
}

.loading-title-text:last-child {
  width: 50%;
  height: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.125rem;
  align-content: center;
  align-self: center;
}

@keyframes result-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}